{% extends 'base.html' %}

{% block content %}

<center><h1> Cadastro de veículo </h1></center>
<form class="form-control" method='POST'>{% csrf_token %}
  <div class="form-group">
    <div class="row">
      <center>
        <div class="col-2 mb-2">
          <input type="text" class="form-control" placeholder="Placa" name="placa">
        </div>
      </center>
    </div>

    <div class="row justify-content-center">
      <div class="col-4 mb-4">
        <input type="text" class="form-control" placeholder="Modelo" name="modelo">
      </div>
      <div class="col-4 mb-4">
        <input type="text" class="form-control" placeholder="Cor" name="cor">
      </div>
   </div>

   <div class="row justify-content-center">
      <div class="col-3 mb-4">
        <select class="form-select" name="lugares">
          <option selected>Lugares</option>
          {% for i in range %}
            <option value={{ forloop.counter }}>{{ forloop.counter }}</option>
          {% endfor %}
       </select>
      </div>
      <div class="col-3 mb-4">
        <input type="text" class="form-control" placeholder="Ano" name="ano">
      </div>
   </div>

 <center> <button id="botao" type="submit" class="btn btn-primary">Cadastrar</button> </center>
</form>
{% load static %}

<script src="{% static 'js/cadastro_veiculo.js' %}"></script>

{% endblock %}