{% extends 'base.html' %}

{% block content %}

<h1><b><p style="text-align:center;">Oferecer Carona</p></b></h1>


<hr>
<h3><p style="text-align:center;">Veículo</p></h3>

<form class="form-control" method='POST'>{% csrf_token %}
     <div class="form-group">
  <div class="row">

    <div class="col mb-4">
      <select id="" class="form-select" name="cad_oferta_carona_veiculos">
        <option disabled selected hidden>Veículo</option>
        {% for i in lista_veiculos %}
          <option value={{ i.0 }}>{{ i.1 }} - {{ i.2 }} - {{ i.4 }}</option>
        {% endfor %}
      </select>
    </div>

    <div class="col mb-4">
        <select id="" class="form-select" name="cad_oferta_carona_lugares">
          <option disabled selected hidden>Vagas</option>
          {% for i in range %}
            <option value={{ forloop.counter }}>{{ forloop.counter }}</option>
          {% endfor %}
       </select>
    </div>
  </div>

  <h3><p style="text-align:center;"><b><p style="text-align:center;">Ponto Inicial</p></h3>

  <hr>

  <div class="col mb-4">
        <select id="" class="form-select" name="ponto_inicial">
          <option disabled selected hidden>Ponto Inicial</option>
          {% for i in pontos %}
            <option value={{ i.0 }}>{{ i.1 }} - {{ i.2 }} - {{ i.3 }}</option>
          {% endfor %}
       </select>
  </div>


  <h3><p style="text-align:center;"><b><p style="text-align:center;">Ponto Final</p></h3>

  <hr>

  <div class="col mb-4">
        <select id="" class="form-select" name="ponto_final">
          <option disabled selected hidden>Ponto Final</option>
          {% for i in pontos %}
            <option value={{ i.0 }}>{{ i.1 }} - {{ i.2 }} - {{ i.3 }}</option>
          {% endfor %}
       </select>
  </div>

  <hr>



  <h3><p style="text-align:center;">Data e Hora de partida</p></h3>

<hr>

<div class="row">
    <div class="col mb-4">
      <input type="datetime-local" class="form-control" name="cad_oferta_data_hora">
    </div>
  </div>

</div class="row">
 <center> 
   <button type="submit" class="btn btn-primary" style='background-color:green'>Cadastrar</button>
 </center>
</form>

{% endblock %}